:root {
  --text-color: #cbdcdc;
  --bg-color: #1B1D24;
  --fg-color: #2a2d37;
  --primary-color: #ff4655;
  --primary-color-o: rgba(255, 61, 68, 0.5);
  --secundary-color: #ff5765;
}

html,
body {
  overflow-x: hidden;
  background-color: var(--bg-color);
  cursor: default;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 3vh;
  color: var(--text-color);
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
select {
  font-family: inherit;
}

input {
  border-radius: 0.5vh;
  border: 0.3vh solid var(--primary-color);
  outline: none;
  color: var(--text-color);
  padding: 1vh 2vh 1vh 2vh;
  background-color: transparent;
  cursor: text;

  @media screen and (orientation: portrait) {
    border: 0.1vh solid var(--primary-color);
  }
}

button {
  outline: none;
  border-radius: 0.5vh;
  border: 0;
  cursor: pointer;
  transition: .2s;

  &:active {
    transform: scale(0.98);
  }
}

select {
  outline: none;
  border: 0.3vh solid var(--primary-color);
  background-color: transparent;
  border-radius: 0.5vh;
  padding: 1vh 2vh 1vh 2vh;

  @media screen and (orientation: portrait) {
    border: 0.1vh solid var(--primary-color);
  }
}

::selection {
  color: var(--text-color);
  background: var(--secundary-color);
}

::-webkit-scrollbar {
  width: 1vh;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}

::-webkit-scrollbar-thumb:hover {
  background: #9f9f9f;
}