@import '../../app/styles/functions.scss';

.container {
    @include contentSize;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    gap: 5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;

    &>h2 {
        font-size: 4vh;
    }
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    width: 100%;
    padding-top: 3.5vh;
    padding-bottom: 3.5vh;
}

.card {
    display: flex;
    gap: 2vh;
    height: 17vh;
    width: 100%;
    border-radius: 0.5vh;
    position: relative;
    user-select: none;
    cursor: pointer;
}

.won {
    background: linear-gradient(90deg, rgba(37, 165, 139, 1) 0%, rgba(27, 29, 36, 0) 100%);
}

.lost {
    background: linear-gradient(90deg, rgba(255, 70, 85, 0.7372198879551821) 0%, rgba(27, 29, 36, 0) 100%);
}

.mapImage {
    width: 17vh;
    border-radius: 0.5vh 0 0 0.5vh;

    &>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5vh 0 0 0.5vh;
    }
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;

    &>h5 {
        // text-transform: capitalize;
    }
}

.result {
    @include flexCenter;
    flex-direction: column;
    gap: 0.5vh;
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    height: 100%;
    text-transform: uppercase;
}

.kda {
    display: flex;
    flex-direction: column;

    &>b {
        // text-transform: capitalize;
    }

    &>b,
    &>span {
        font-size: 2.5vh;
    }
}

.datetime {
    font-size: 2vh;
}

.score {
    font-size: 1.8vh;
}

.matchInfos {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;


    &>h3 {
        margin-bottom: 2vh;
        font-size: 2.7vh;
    }

    &>label {
        font-size: 2.3vh;
    }

    &>span {
        font-size: 2vh;
    }
}

.matchData {
    display: flex;
    gap: 5vh;
    background: linear-gradient(90deg, rgba(42, 45, 55, 1) 0%, rgba(27, 29, 36, 0) 100%);
    border-radius: 0 0 0 0.5vh;
    padding: 2vh;
}

.players {
    display: flex;
    flex: 1;
    gap: 1vh;
    width: 100%;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vh;
    flex: 1;
    border-left: 0.2vh solid var(--bg-color);
}

.blueTitle,
.redTitle {
    font-size: 2.7vh;
}

.blueTitle {
    background: -webkit-linear-gradient(var(--text-color), #00aaff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.redTitle {
    background: -webkit-linear-gradient(var(--text-color), hsl(0, 100%, 56%));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.allPlayers {
    display: flex;
    gap: 2vh;
    flex-wrap: wrap;
    justify-content: center;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vh;
    min-width: 15vh;

    &>b {
        font-size: 1.8vh;
    }

    &>span,
    &>i {
        font-size: 1.5vh;
    }

    &>label {
        font-size: 1.7vh;
        margin-top: 0.5vh;
        font-weight: bold;
    }
}